<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KeySwine - @ViewBag.Title  </title>
    <meta name="author" content="Keys Norbert">
    <meta name="description" content="Вина європейских сортвв з підвалу Елеміра. Професйний підхід одного з кращих винороба аматорів Берегівщини">
    <meta name="keywords" content="интернет магазин алкоголя,купить самогонный аппарат,вино купить,купить вино,элитный алкоголь,дегустация вин,Киев,Украина,винодел,полусладкое вино,
	полусухе вино,сухое вино,Домашнее вино,заказ,чача,палинка,Берегове,область,район,село">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-3.2.1.min.js")
    @Scripts.Render("~/Scripts/validate.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")

</head>
<body>

    <nav class="navbar navbar-inverse bs-dark">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("KeysWine", "Index", "Home", new { area = "" }, new { @class = "navbar-brand js-scroll-trigger" })            
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                <li>@Html.ActionLink("Історія", "About", "Home")</li>
                <li>@Html.ActionLink("Наш край", "Region", "Home")</li>
                @*<li class="active"><a href="#">Homepage <span class="sr-only">(current)</span></a></li>*@
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Наші пропозиції <span class="caret"></span></a>
                    <ul class="dropdown-menu">                                    
                        @*<li role="separator" class="divider"></li>*@
                        <li>@Html.ActionLink("Білі вина", "White", "Home")</li>
                        <li>@Html.ActionLink("Червоні вина", "Red", "Home")</li>
                        <hr />
                        <li>@Html.ActionLink("WCreate", "Create", "Wine")</li>
                        <li>@Html.ActionLink("WIndex", "Index", "Wine")</li>
                        <hr />
                        <li>@Html.ActionLink("CCreate", "Create", "Category")</li>
                        <li>@Html.ActionLink("CIndex", "Index", "Category")</li>
                        <hr />
                        <li>@Html.ActionLink("WCreate", "Create", "Winemaker")</li>
                        <li>@Html.ActionLink("WAdmin", "Admin", "Winemaker")</li>
                        <li>@Html.ActionLink("WIndex", "Index", "Winemaker")</li>

                        
                    </ul>                   
                </li>
                <li>@Html.ActionLink("Фотогалерея", "Contact", "Home")</li>
                <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
            @*<form class="navbar-form navbar-left form-horizontal" role="search">
                <div class="input-group">
                    <input type="text" class="search-box" placeholder="Search">
                    <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </form>*@
            @*<ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle navbar-img" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Account
                        <img src="http://placehold.it/150x150" class="img-circle" alt="Profile Image" />
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Inbox</a></li>
                        <li><a href="#">Followers</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
            </ul>*@
        </div>
    </nav>    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>               
            <div class="col-md-3 col-md-offset-3">
                &copy; @DateTime.Now.Year - Keys Wine Application             
                
            </div>
            
               
           
    </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
